Günümüzde bir çok alışveriş ve online oyun store bölümlerinde ödeme seçeneği olarak eklenen ,  Jeton Kart‘lar tamamen insanların sıfır zarar ile birlikte alışveriş
yapmaları amacıyla üretilmiştir. Ön ödemeli kart sistemidir 16 haneli pin kodu sistemi ile çalışmaktadır. Hiç bir şekilde sizlerden T.C vatandaşlık belgesi vb. bilgileri talep etmeden sizlere Jeton Kart kullanım hakkı sunmaktadırlar.
http://jetonsatis.org/kart-nedir/
